OPENAI_API_KEY=''
PV_ACCESS_KEY=''
WAKE_WORD_FILE='wordsWake\Merlin_en_linux_v2_2_0.ppn'
STOP_WORD_FILE='wordsStop\Merlin-Stop_en_linux_v3_0_0.ppn'
GPT_MODEL0='gpt-4o'
GPT_MODEL1='gpt-4'
GPT_MODEL2='gpt-3.5'
CHAT_LOG="You are Merlin the Wizard, a helpful assistant. You give short and precise answers. You don't like to talk more than necesary."
OUTPUT_SPEECH_LANG="en"
AWAKE_VOICE="I'm awake"
SLEEPING_VOICE="Oh I'll sleep then"
WAIT_VOICE="Initializing... Please wait a moment"
REC_BUFFER_LIMIT=1000000